.card-preview-container {
  width: 95%;
  height: 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px auto;
  background-color: rgb(53, 58, 59);
  transition: background-color 0.4s ease-out;
  position: relative;
}

.top-bar {
  height: 3%;
  width: 100%;
  background-color: rgba(70, 201, 212, 0.8);
}
.notes-text-area {
  width: 95%;
  height: 100%;
  padding-top: 10px;
  margin-left: auto;
  font-family: "Nunito", sans-serif;
  color: white;
}

.text-area-container {
  flex: 1;
  width: 100%;
}

.card-preview-container::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-top-left-radius: 4px;
  background-color: rgb(37, 40, 41);
}
.card-preview-container:hover {
  background-color: rgb(72, 78, 78);
}
.text-area {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;

  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.bold-text {
  font-weight: bold;
}
.medium-text {
  font-weight: normal;
}
