.card-container {
  width: 400px;
  height: 300px;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.top-bar {
  height: 4%;
  width: 100%;
  background-color: rgba(70, 201, 212, 0.8);
}

.text-area-container {
  flex: 1;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.text-area {
  flex: 1;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  outline: none;
  background-color: rgb(67, 72, 73);
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.bold-text {
  font-weight: bold;
}
.medium-text {
  font-weight: normal;
}
