* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(37, 40, 41);
  -webkit-user-select: none;
}

.heading {
  font-size: 20px;
  margin-bottom: 4px;
  color: rgb(233, 218, 218);
  font-weight: bold;
}

.description {
  font-size: 15px;
  font-weight: bold;
  color: rgb(233, 218, 218);
}
